body{
    background-image: url(https://cdn.discordapp.com/attachments/572033028881252365/649042118899400714/unknown.png);
    background-repeat: no-repeat;
    background-size: 200px;

}

header{

}       

section{

}

footer{
    color: white;
}
background-image: url(https://media.discordapp.net/attachments/624988985302974475/647979959092117514/Foto_Oficial_xCord-_COm_barra_preta.png?width=676&height=676);
background-position: 350px;
background-repeat: no-repeat;
background-size: 518px;
width: 1000px;
height: 500px;
background-image: url(https://media.discordapp.net/attachments/624988985302974475/647979959092117514/Foto_Oficial_xCord-_COm_barra_preta.png?width=676&height=676);
background-position: 350px;
background-repeat: no-repeat;
background-size: 518px;
width: 1000px;
height: 500px;
